<div class="role-container">
  <h2>Select User Role</h2>

  <div class="role-selector">
    <mat-radio-group [(ngModel)]="selectedRole" (change)="onRoleChange($event)">
      <mat-radio-button value="ld">L&D Team</mat-radio-button>
      <mat-radio-button value="vendor">Vendor</mat-radio-button>
    </mat-radio-group>
  </div>

  <div *ngIf="selectedRole === 'vendor'" class="vendor-dropdown">
    <mat-form-field appearance="outline">
      <mat-label>Select Vendor</mat-label>
      <mat-select [(ngModel)]="selectedVendor" (selectionChange)="onVendorSelect($event)">
        <mat-option *ngFor="let v of vendors" [value]="v.id">{{ v.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary" (click)="proceed()" [disabled]="!selectedRole">
    Proceed
  </button>
</div>
