<div class="page-container">
  <h2 class="title">Trainer Profile Management</h2>

  <button mat-raised-button color="primary" (click)="openForm()">Add Trainer</button>

  <mat-card class="mt-4">
    <table mat-table [dataSource]="trainers" class="mat-elevation-z8 full-width">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let t">{{ t.name }}</td>
      </ng-container>

      <ng-container matColumnDef="expertise">
        <th mat-header-cell *matHeaderCellDef>Expertise</th>
        <td mat-cell *matCellDef="let t">{{ t.expertise }}</td>
      </ng-container>

      <ng-container matColumnDef="experience">
        <th mat-header-cell *matHeaderCellDef>Experience</th>
        <td mat-cell *matCellDef="let t">{{ t.experience }} years</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let t">{{ t.email }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="cols"></tr>
      <tr mat-row *matRowDef="let row; columns: cols"></tr>
    </table>
  </mat-card>
</div>
